<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= nama %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= email %></h6>
    <p class="card-text"><%= phone %></p>

  </div>
</div>